PORT=5000

NODE_ENV=development

MONGO_URI=mongodb+srv://abhishekchoudhary38808_db_user:HncW8a3OA4YCB1dA@shopeasy-cluster.dxqypke.mongodb.net/shopeasy?retryWrites=true&w=majority&appName=ShopEasy-cluster

JWT_SECRET=1185e9aac03f666af749a4e9c18382c549de7253bb5e80bbe2c7f0e4418c4c4f
JWT_REFRESH_SECRET=aef6526df95c420183197da9e77b86b01cc7168b040f2b4d4328dff0f4ecd3c0

LOG_LEVEL=info